# Microsoft Films Analysis

* Author:Sharon Mukami Mungai
* Student pace:Hybrid
* Scheduled project review date/time: Friday,22nd March 2024.
* Instructor Name:Miss.Maryann Mwikali

## Overview

This project analyzes the types of films released as well as their performances in the box office.Their performances are measured by the ratings, gross incomes and popularity.With this analysis Microsoft's new movie studio is able to determine which films to create.

### Business Understanding

Microsoft Company develops and supports software, services, devices, and solutions. Since it has little to no experience in the film industry,an analysis on differrent films is required to answer the following questions:

* What are the top movies?And from which studio?
* What are the top Genres? 
* Which Genres produce the highest gross incomes and highest profit earned?

### Data Understanding

The data files we'll be making use of are that provide information on the movies, the year released,  their votes, their gross incomes, thier production budget.
To uderstand our data, we need to explore the data files and familiarize ourselves with the columns and rows as well as the information within the file.

In [64]:
# import the relevant libraries
import pandas as pd
import numpy as np

In [65]:
#Create dataframes that represent the CSV files.
#movies_info_df=pd.read_csv(r"C:\Users\user\Documents\Moringa\Phase-1\Phaseproject\dsc-phase-1-project-v2-4\zippedData\tmdb.movies.csv\tmdb.movies.csv", index_col=0)

movies_info_df=pd.read_csv(r"C:\Users\user\Documents\Moringa\Phase-1\Phaseproject\dsc-phase-1-project-v2-4\zippedData\bom.movie_gross.csv\bom.movie_gross.csv")

movies_budgets_df=pd.read_csv(r"C:\Users\user\Documents\Moringa\Phase-1\Phaseproject\dsc-phase-1-project-v2-4\zippedData\tn.movie_budgets.csv\tn.movie_budgets.csv")

In [66]:
#Inspect the shapes and attributes of the attributes of the dataframes
#Run code cell(s) below

#### 1. movies_info Data

In [67]:
movies_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [68]:
movies_info_df.shape #The data has 3387 rows, 5 columns

(3387, 5)

In [69]:
movies_info_df.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [70]:
movies_info_df['title'].value_counts()

Bluebeard                                   2
The Perks of Being a Wallflower             1
Billy Lynn's Long Halftime Walk             1
Tyler Perry's Why Did I Get Married Too?    1
Hadewijch                                   1
                                           ..
Battle of the Sexes                         1
The Rite                                    1
Oro                                         1
Alan Partridge: The Movie                   1
Make Your Move                              1
Name: title, Length: 3386, dtype: int64

In [71]:
movies_info_df['studio'].value_counts()

IFC      166
Uni.     147
WB       140
Magn.    136
Fox      136
        ...
UEP        1
YFG        1
TAFC       1
RME        1
DR         1
Name: studio, Length: 257, dtype: int64

In [72]:
movies_info_df['year']=pd.to_datetime(movies_gross_df['year'])
movies_info_df['year'].describe(datetime_is_numeric=True)

count                             3387
mean     1970-01-01 00:00:00.000002013
min      1970-01-01 00:00:00.000002010
25%      1970-01-01 00:00:00.000002012
50%      1970-01-01 00:00:00.000002014
75%      1970-01-01 00:00:00.000002016
max      1970-01-01 00:00:00.000002018
Name: year, dtype: object

#### 2. movies_budgets Data

In [73]:
movies_budgets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [74]:
movies_budgets_df.shape #This data has 5782 rows, 6 columns

(5782, 6)

In [75]:
movies_budgets_df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [76]:
movies_budgets_df['movie'].value_counts()

Halloween                                             3
King Kong                                             3
Home                                                  3
The Karate Kid                                        2
Day of the Dead                                       2
                                                     ..
Wilson                                                1
Must Love Dogs                                        1
Cloverfield                                           1
A Haunting in Connecticut 2: The Ghosts of Georgia    1
Commando                                              1
Name: movie, Length: 5698, dtype: int64

In [77]:
movies_budgets_df['production_budget'].describe()

count            5782
unique            509
top       $20,000,000
freq              231
Name: production_budget, dtype: object

In [78]:
movies_budgets_df['domestic_gross'].value_counts()

$0             548
$8,000,000       9
$7,000,000       7
$2,000,000       7
$10,000,000      6
              ...
$59,475,623      1
$32,961          1
$12,695,691      1
$65,388          1
$30,312          1
Name: domestic_gross, Length: 5164, dtype: int64

In [79]:
movies_budgets_df['worldwide_gross'].value_counts()

$0                367
$8,000,000          9
$7,000,000          6
$2,000,000          6
$11,000,000         4
                 ...
$215,862,692        1
$1,140,069,413      1
$97,387,965         1
$9,533,964          1
$30,312             1
Name: worldwide_gross, Length: 5356, dtype: int64

# Data Cleaning

# 1. Movies_info Data

In [80]:
movies_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 132.4+ KB

In [81]:
movies_info_df

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,1970-01-01 00:00:00.000002010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,1970-01-01 00:00:00.000002010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,1970-01-01 00:00:00.000002010
3,Inception,WB,292600000.0,535700000,1970-01-01 00:00:00.000002010
4,Shrek Forever After,P/DW,238700000.0,513900000,1970-01-01 00:00:00.000002010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,1970-01-01 00:00:00.000002018
3383,Edward II (2018 re-release),FM,4800.0,NaN,1970-01-01 00:00:00.000002018
3384,El Pacto,Sony,2500.0,NaN,1970-01-01 00:00:00.000002018
3385,The Swan,Synergetic,2400.0,NaN,1970-01-01 00:00:00.000002018
3386,An Actor Prepares,Grav.,1700.0,NaN,1970-01-01 00:00:00.000002018

In [82]:
movies_info_df.drop(columns=['domestic_gross','foreign_gross'],inplace=True)
movies_info_df

,title,studio,year
0,Toy Story 3,BV,1970-01-01 00:00:00.000002010
1,Alice in Wonderland (2010),BV,1970-01-01 00:00:00.000002010
2,Harry Potter and the Deathly Hallows Part 1,WB,1970-01-01 00:00:00.000002010
3,Inception,WB,1970-01-01 00:00:00.000002010
4,Shrek Forever After,P/DW,1970-01-01 00:00:00.000002010
...,...,...,...
3382,The Quake,Magn.,1970-01-01 00:00:00.000002018
3383,Edward II (2018 re-release),FM,1970-01-01 00:00:00.000002018
3384,El Pacto,Sony,1970-01-01 00:00:00.000002018
3385,The Swan,Synergetic,1970-01-01 00:00:00.000002018
3386,An Actor Prepares,Grav.,1970-01-01 00:00:00.000002018

In [83]:
info_duplicates=movies_info_df[movies_info_df.duplicated()]
len(info_duplicates)

0

In [84]:
movies_info_df['studio']=pd.DataFrame(movies_info_df['studio'])
movies_info_df['studio']

0               BV
1               BV
2               WB
3               WB
4             P/DW
           ...
3382         Magn.
3383            FM
3384          Sony
3385    Synergetic
3386         Grav.
Name: studio, Length: 3387, dtype: object

In [85]:
movies_info_df.isna()

      title  studio   year
0     False   False  False
1     False   False  False
2     False   False  False
3     False   False  False
4     False   False  False
...     ...     ...    ...
3382  False   False  False
3383  False   False  False
3384  False   False  False
3385  False   False  False
3386  False   False  False

[3387 rows x 3 columns]

In [86]:
movies_info_df.isna().sum()

title     0
studio    5
year      0
dtype: int64

In [87]:
movies_info_df.dropna(subset=['studio'], inplace=True)
movies_info_df

,title,studio,year
0,Toy Story 3,BV,1970-01-01 00:00:00.000002010
1,Alice in Wonderland (2010),BV,1970-01-01 00:00:00.000002010
2,Harry Potter and the Deathly Hallows Part 1,WB,1970-01-01 00:00:00.000002010
3,Inception,WB,1970-01-01 00:00:00.000002010
4,Shrek Forever After,P/DW,1970-01-01 00:00:00.000002010
...,...,...,...
3382,The Quake,Magn.,1970-01-01 00:00:00.000002018
3383,Edward II (2018 re-release),FM,1970-01-01 00:00:00.000002018
3384,El Pacto,Sony,1970-01-01 00:00:00.000002018
3385,The Swan,Synergetic,1970-01-01 00:00:00.000002018
3386,An Actor Prepares,Grav.,1970-01-01 00:00:00.000002018

In [88]:
movies_info_df.isna().sum()

title     0
studio    0
year      0
dtype: int64

# 2.Movies_budgets Data

In [90]:
movies_budgets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [103]:
duplicates = [movies_budgets_df.duplicated()]
len(duplicates)

1

In [104]:
duplicates

[0       False
 1       False
 2       False
 3       False
 4       False
         ...
 5777    False
 5778    False
 5779    False
 5780    False
 5781    False
 Length: 5782, dtype: bool]

In [112]:
movies_budgets_df.drop_duplicates()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [114]:
#len(duplicates)

In [ ]:
#Now that we've removed duplicates, we move to the next; Null data.

In [110]:
movies_budgets_df.isna()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
5777,False,False,False,False,False,False
5778,False,False,False,False,False,False
5779,False,False,False,False,False,False
5780,False,False,False,False,False,False
5781,False,False,False,False,False,False

In [111]:
movies_budgets_df.isna().sum()

id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64

In [115]:
#There are zero null/NaN values in the data

In [128]:
movies_budgets_dict=movies_budgets_df.to_dict('records')

[{'id': 1,
  'release_date': 'Dec 18, 2009',
  'movie': 'Avatar',
  'production_budget': '$425,000,000',
  'domestic_gross': '$760,507,625',
  'worldwide_gross': '$2,776,345,279'},
 {'id': 2,
  'release_date': 'May 20, 2011',
  'movie': 'Pirates of the Caribbean: On Stranger Tides',
  'production_budget': '$410,600,000',
  'domestic_gross': '$241,063,875',
  'worldwide_gross': '$1,045,663,875'},
 {'id': 3,
  'release_date': 'Jun 7, 2019',
  'movie': 'Dark Phoenix',
  'production_budget': '$350,000,000',
  'domestic_gross': '$42,762,350',
  'worldwide_gross': '$149,762,350'},
 {'id': 4,
  'release_date': 'May 1, 2015',
  'movie': 'Avengers: Age of Ultron',
  'production_budget': '$330,600,000',
  'domestic_gross': '$459,005,868',
  'worldwide_gross': '$1,403,013,963'},
 {'id': 5,
  'release_date': 'Dec 15, 2017',
  'movie': 'Star Wars Ep. VIII: The Last Jedi',
  'production_budget': '$317,000,000',
  'domestic_gross': '$620,181,382',
  'worldwide_gross': '$1,316,721,747'},
 {'id': 6,
  'release_date': 'Dec 18, 2015',
  'movie': 'Star Wars Ep. VII: The Force Awakens',
  'production_budget': '$306,000,000',
  'domestic_gross': '$936,662,225',
  'worldwide_gross': '$2,053,311,220'},
 {'id': 7,
  'release_date': 'Apr 27, 2018',
  'movie': 'Avengers: Infinity War',
  'production_budget': '$300,000,000',
  'domestic_gross': '$678,815,482',
  'worldwide_gross': '$2,048,134,200'},
 {'id': 8,
  'release_date': 'May 24, 2007',
  'movie': 'Pirates of the Caribbean: At Worldâ\x80\x99s End',
  'production_budget': '$300,000,000',
  'domestic_gross': '$309,420,425',
  'worldwide_gross': '$963,420,425'},
 {'id': 9,
  'release_date': 'Nov 17, 2017',
  'movie': 'Justice League',
  'production_budget': '$300,000,000',
  'domestic_gross': '$229,024,295',
  'worldwide_gross': '$655,945,209'},
 {'id': 10,
  'release_date': 'Nov 6, 2015',
  'movie': 'Spectre',
  'production_budget': '$300,000,000',
  'domestic_gross': '$200,074,175',
  'worldwide_gross': '$879,620,923'},
 {'id': 11,
  'release_date': 'Jul 20, 2012',
  'movie': 'The Dark Knight Rises',
  'production_budget': '$275,000,000',
  'domestic_gross': '$448,139,099',
  'worldwide_gross': '$1,084,439,099'},
 {'id': 12,
  'release_date': 'May 25, 2018',
  'movie': 'Solo: A Star Wars Story',
  'production_budget': '$275,000,000',
  'domestic_gross': '$213,767,512',
  'worldwide_gross': '$393,151,347'},
 {'id': 13,
  'release_date': 'Jul 2, 2013',
  'movie': 'The Lone Ranger',
  'production_budget': '$275,000,000',
  'domestic_gross': '$89,302,115',
  'worldwide_gross': '$260,002,115'},
 {'id': 14,
  'release_date': 'Mar 9, 2012',
  'movie': 'John Carter',
  'production_budget': '$275,000,000',
  'domestic_gross': '$73,058,679',
  'worldwide_gross': '$282,778,100'},
 {'id': 15,
  'release_date': 'Nov 24, 2010',
  'movie': 'Tangled',
  'production_budget': '$260,000,000',
  'domestic_gross': '$200,821,936',
  'worldwide_gross': '$586,477,240'},
 {'id': 16,
  'release_date': 'May 4, 2007',
  'movie': 'Spider-Man 3',
  'production_budget': '$258,000,000',
  'domestic_gross': '$336,530,303',
  'worldwide_gross': '$894,860,230'},
 {'id': 17,
  'release_date': 'May 6, 2016',
  'movie': 'Captain America: Civil War',
  'production_budget': '$250,000,000',
  'domestic_gross': '$408,084,349',
  'worldwide_gross': '$1,140,069,413'},
 {'id': 18,
  'release_date': 'Mar 25, 2016',
  'movie': 'Batman v Superman: Dawn of Justice',
  'production_budget': '$250,000,000',
  'domestic_gross': '$330,360,194',
  'worldwide_gross': '$867,500,281'},
 {'id': 19,
  'release_date': 'Dec 14, 2012',
  'movie': 'The Hobbit: An Unexpected Journey',
  'production_budget': '$250,000,000',
  'domestic_gross': '$303,003,568',
  'worldwide_gross': '$1,017,003,568'},
 {'id': 20,
  'release_date': 'Jul 15, 2009',
  'movie': 'Harry Potter and the Half-Blood Prince',
  'production_budget': '$250,000,000',
  'domestic_gross': '$302,089,278',
  'worldwide_gross': '$935,213,767'},
 {'id': 21,
  'release_date': 'Dec 13, 2013',
  'movie': 'The Hobbit: The Desolation of Smaug',
  'production_budget': '$250,000,000',
  'domestic_gross': '$258,366,855',
  'worldwide_gross': '$960,366,855'},
 {'id': 22,
  'release_date': 'Dec 17, 2014',
  'movie': 'The Hobbit: The Battle of the Five Armies',
  'production_budget': '$250,000,000',
  'domestic_gross': '$255,119,788',
  'worldwide_gross': '$945,577,621'},
 {'id': 23,
  'release_date': 'Apr 14, 2017',
  'movie': 'The Fate of the Furious',
  'production_budget': '$250,000,000',
  'domestic_gross': '$225,764,765',
  'worldwide_gross': '$1,234,846,267'},
 {'id': 24,
  'release_date': 'Jun 28, 2006',
  'movie': 'Superman Returns',
  'production_budget': '$232,000,000',
  'domestic_gross': '$200,120,000',
  'worldwide_gross': '$374,085,065'},
 {'id': 25,
  'release_date': 'May 26, 2017',
  'movie': 'Pirates of the Caribbean: Dead Men Tell No Tales',
  'production_budget': '$230,000,000',
  'domestic_gross': '$172,558,876',
  'worldwide_gross': '$788,241,137'},
 {'id': 26,
  'release_date': 'Nov 14, 2008',
  'movie': 'Quantum of Solace',
  'production_budget': '$230,000,000',
  'domestic_gross': '$169,368,427',
  'worldwide_gross': '$591,692,078'},
 {'id': 27,
  'release_date': 'May 4, 2012',
  'movie': 'The Avengers',
  'production_budget': '$225,000,000',
  'domestic_gross': '$623,279,547',
  'worldwide_gross': '$1,517,935,897'},
 {'id': 28,
  'release_date': 'Jul 7, 2006',
  'movie': 'Pirates of the Caribbean: Dead Manâ\x80\x99s Chest',
  'production_budget': '$225,000,000',
  'domestic_gross': '$423,315,812',
  'worldwide_gross': '$1,066,215,812'},
 {'id': 29,
  'release_date': 'Jun 14, 2013',
  'movie': 'Man of Steel',
  'production_budget': '$225,000,000',
  'domestic_gross': '$291,045,518',
  'worldwide_gross': '$667,999,518'},
 {'id': 30,
  'release_date': 'May 16, 2008',
  'movie': 'The Chronicles of Narnia: Prince Caspian',
  'production_budget': '$225,000,000',
  'domestic_gross': '$141,621,490',
  'worldwide_gross': '$417,341,288'},
 {'id': 31,
  'release_date': 'Jul 3, 2012',
  'movie': 'The Amazing Spider-Man',
  'production_budget': '$220,000,000',
  'domestic_gross': '$262,030,663',
  'worldwide_gross': '$757,890,267'},
 {'id': 32,
  'release_date': 'May 18, 2012',
  'movie': 'Battleship',
  'production_budget': '$220,000,000',
  'domestic_gross': '$65,233,400',
  'worldwide_gross': '$313,477,717'},
 {'id': 33,
  'release_date': 'Jun 21, 2017',
  'movie': 'Transformers: The Last Knight',
  'production_budget': '$217,000,000',
  'domestic_gross': '$130,168,683',
  'worldwide_gross': '$602,893,340'},
 {'id': 34,
  'release_date': 'Jun 12, 2015',
  'movie': 'Jurassic World',
  'production_budget': '$215,000,000',
  'domestic_gross': '$652,270,625',
  'worldwide_gross': '$1,648,854,864'},
 {'id': 35,
  'release_date': 'May 25, 2012',
  'movie': 'Men in Black 3',
  'production_budget': '$215,000,000',
  'domestic_gross': '$179,020,854',
  'worldwide_gross': '$654,213,485'},
 {'id': 36,
  'release_date': 'Jun 24, 2009',
  'movie': 'Transformers: Revenge of the Fallen',
  'production_budget': '$210,000,000',
  'domestic_gross': '$402,111,870',
  'worldwide_gross': '$836,519,699'},
 {'id': 37,
  'release_date': 'Jun 27, 2014',
  'movie': 'Transformers: Age of Extinction',
  'production_budget': '$210,000,000',
  'domestic_gross': '$245,439,076',
  'worldwide_gross': '$1,104,039,076'},
 {'id': 38,
  'release_date': 'May 26, 2006',
  'movie': 'X-Men: The Last Stand',
  'production_budget': '$210,000,000',
  'domestic_gross': '$234,362,462',
  'worldwide_gross': '$459,260,946'},
 {'id': 39,
  'release_date': 'May 14, 2010',
  'movie': 'Robin Hood',
  'production_budget': '$210,000,000',
  'domestic_gross': '$105,487,148',
  'worldwide_gross': '$322,459,006'},
 {'id': 40,
  'release_date': 'Dec 14, 2005',
  'movie': 'King Kong',
  'production_budget': '$207,000,000',
  'domestic_gross': '$218,080,025',
  'worldwide_gross': '$550,517,357'},
 {'id': 41,
  'release_date': 'Dec 7, 2007',
  'movie': 'The Golden Compass',
  'production_budget': '$205,000,000',
  'domestic_gross': '$70,107,728',
  'worldwide_gross': '$367,262,558'},
 {'id': 42,
  'release_date': 'Feb 16, 2018',
  'movie': 'Black Panther',
  'production_budget': '$200,000,000',
  'domestic_gross': '$700,059,566',
  'worldwide_gross': '$1,348,258,224'},
 {'id': 43,
  'release_date': 'Dec 19, 1997',
  'movie': 'Titanic',
  'production_budget': '$200,000,000',
  'domestic_gross': '$659,363,944',
  'worldwide_gross': '$2,208,208,395'},
 {'id': 44,
  'release_date': 'Jun 15, 2018',
  'movie': 'Incredibles 2',
  'production_budget': '$200,000,000',
  'domestic_gross': '$608,581,744',
  'worldwide_gross': '$1,242,520,711'},
 {'id': 45,
  'release_date': 'Dec 16, 2016',
  'movie': 'Rogue One: A Star Wars Story',
  'production_budget': '$200,000,000',
  'domestic_gross': '$532,177,324',
  'worldwide_gross': '$1,049,102,856'},
 {'id': 46,
  'release_date': 'Jun 17, 2016',
  'movie': 'Finding Dory',
  'production_budget': '$200,000,000',
  'domestic_gross': '$486,295,561',
  'worldwide_gross': '$1,021,215,193'},
 {'id': 47,
  'release_date': 'Jun 18, 2010',
  'movie': 'Toy Story 3',
  'production_budget': '$200,000,000',
  'domestic_gross': '$415,004,880',
  'worldwide_gross': '$1,068,879,522'},
 {'id': 48,
  'release_date': 'May 3, 2013',
  'movie': 'Iron Man 3',
  'production_budget': '$200,000,000',
  'domestic_gross': '$408,992,272',
  'worldwide_gross': '$1,215,392,272'},
 {'id': 49,
  'release_date': 'May 5, 2017',
  'movie': 'Guardians of the Galaxy Vol 2',
  'production_budget': '$200,000,000',
  'domestic_gross': '$389,813,101',
  'worldwide_gross': '$862,316,233'},
 {'id': 50,
  'release_date': 'Jun 30, 2004',
  'movie': 'Spider-Man 2',
  'production_budget': '$200,000,000',
  'domestic_gross': '$373,524,485',
  'worldwide_gross': '$795,110,670'},
 {'id': 51,
  'release_date': 'Mar 5, 2010',
  'movie': 'Alice in Wonderland',
  'production_budget': '$200,000,000',
  'domestic_gross': '$334,191,110',
  'worldwide_gross': '$1,025,491,110'},
 {'id': 52,
  'release_date': 'Nov 8, 2012',
  'movie': 'Skyfall',
  'production_budget': '$200,000,000',
  'domestic_gross': '$304,360,277',
  'worldwide_gross': '$1,110,526,981'},
 {'id': 53,
  'release_date': 'Jun 21, 2013',
  'movie': 'Monsters University',
  'production_budget': '$200,000,000',
  'domestic_gross': '$268,488,329',
  'worldwide_gross': '$743,588,329'},
 {'id': 54,
  'release_date': 'Mar 8, 2013',
  'movie': 'Oz the Great and Powerful',
  'production_budget': '$200,000,000',
  'domestic_gross': '$234,770,996',
  'worldwide_gross': '$490,359,051'},
 {'id': 55,
  'release_date': 'May 23, 2014',
  'movie': 'X-Men: Days of Future Past',
  'production_budget': '$200,000,000',
  'domestic_gross': '$233,921,534',
  'worldwide_gross': '$747,862,775'},
 {'id': 56,
  'release_date': 'May 2, 2014',
  'movie': 'The Amazing Spider-Man 2',
  'production_budget': '$200,000,000',
  'domestic_gross': '$202,853,933',
  'worldwide_gross': '$708,996,336'},
 {'id': 57,
  'release_date': 'Jun 24, 2011',
  'movie': 'Cars 2',
  'production_budget': '$200,000,000',
  'domestic_gross': '$191,450,875',
  'worldwide_gross': '$560,155,383'},
 {'id': 58,
  'release_date': 'Dec 17, 2010',
  'movie': 'Tron: Legacy',
  'production_budget': '$200,000,000',
  'domestic_gross': '$172,062,763',
  'worldwide_gross': '$400,062,763'},
 {'id': 59,
  'release_date': 'Nov 13, 2009',
  'movie': '2012',
  'production_budget': '$200,000,000',
  'domestic_gross': '$166,112,167',
  'worldwide_gross': '$757,677,748'},
 {'id': 60,
  'release_date': 'Nov 16, 2018',
  'movie': 'Fantastic Beasts: The Crimes of Grindelwald',
  'production_budget': '$200,000,000',
  'domestic_gross': '$159,555,901',
  'worldwide_gross': '$652,220,086'},
 {'id': 61,
  'release_date': 'May 21, 2009',
  'movie': 'Terminator Salvation',
  'production_budget': '$200,000,000',
  'domestic_gross': '$125,322,469',
  'worldwide_gross': '$365,491,792'},
 {'id': 62,
  'release_date': 'Jun 17, 2011',
  'movie': 'Green Lantern',
  'production_budget': '$200,000,000',
  'domestic_gross': '$116,601,172',
  'worldwide_gross': '$219,535,492'},
 {'id': 63,
  'release_date': 'May 28, 2010',
  'movie': 'Prince of Persia: Sands of Time',
  'production_budget': '$200,000,000',
  'domestic_gross': '$90,759,676',
  'worldwide_gross': '$336,359,676'},
 {'id': 64,
  'release_date': 'Jun 29, 2011',
  'movie': 'Transformers: Dark of the Moon',
  'production_budget': '$195,000,000',
  'domestic_gross': '$352,390,543',
  'worldwide_gross': '$1,123,790,543'},
 {'id': 65,
  'release_date': 'Jun 9, 2017',
  'movie': 'The Mummy',
  'production_budget': '$195,000,000',
  'domestic_gross': '$80,101,125',
  'worldwide_gross': '$409,953,905'},
 {'id': 66,
  'release_date': 'Mar 1, 2013',
  'movie': 'Jack the Giant Slayer',
  'production_budget': '$195,000,000',
  'domestic_gross': '$65,187,603',
  'worldwide_gross': '$197,687,603'},
 {'id': 67,
  'release_date': 'Apr 3, 2015',
  'movie': 'Furious 7',
  'production_budget': '$190,000,000',
  'domestic_gross': '$353,007,020',
  'worldwide_gross': '$1,518,722,794'},
 {'id': 68,
  'release_date': 'May 16, 2013',
  'movie': 'Star Trek Into Darkness',
  'production_budget': '$190,000,000',
  'domestic_gross': '$228,778,661',
  'worldwide_gross': '$467,381,584'},
 {'id': 69,
  'release_date': 'Jun 21, 2013',
  'movie': 'World War Z',
  'production_budget': '$190,000,000',
  'domestic_gross': '$202,359,711',
  'worldwide_gross': '$531,514,650'},
 {'id': 70,
  'release_date': 'May 10, 2013',
  'movie': 'The Great Gatsby',
  'production_budget': '$190,000,000',
  'domestic_gross': '$144,840,419',
  'worldwide_gross': '$351,040,419'},
 {'id': 71,
  'release_date': 'Nov 6, 2009',
  'movie': 'Disneyâ\x80\x99s A Christmas Carol',
  'production_budget': '$190,000,000',
  'domestic_gross': '$137,855,863',
  'worldwide_gross': '$315,709,697'},
 {'id': 72,
  'release_date': 'Jul 12, 2013',
  'movie': 'Pacific Rim',
  'production_budget': '$190,000,000',
  'domestic_gross': '$101,802,906',
  'worldwide_gross': '$411,002,906'},
 {'id': 73,
  'release_date': 'Nov 25, 2015',
  'movie': 'The Good Dinosaur',
  'production_budget': '$187,500,000',
  'domestic_gross': '$123,087,120',
  'worldwide_gross': '$333,771,037'},
 {'id': 74,
  'release_date': 'May 2, 2008',
  'movie': 'Iron Man',
  'production_budget': '$186,000,000',
  'domestic_gross': '$318,604,126',
  'worldwide_gross': '$585,171,547'},
 {'id': 75,
  'release_date': 'Jul 18, 2008',
  'movie': 'The Dark Knight',
  'production_budget': '$185,000,000',
  'domestic_gross': '$533,720,947',
  'worldwide_gross': '$1,001,996,207'},
 {'id': 76,
  'release_date': 'May 22, 2008',
  'movie': 'Indiana Jones and the Kingdom of the Crystal Skull',
  'production_budget': '$185,000,000',
  'domestic_gross': '$317,101,119',
  'worldwide_gross': '$786,635,413'},
 {'id': 77,
  'release_date': 'Jun 22, 2012',
  'movie': 'Brave',
  'production_budget': '$185,000,000',
  'domestic_gross': '$237,282,182',
  'worldwide_gross': '$554,606,532'},
 {'id': 78,
  'release_date': 'Mar 10, 2017',
  'movie': 'Kong: Skull Island',
  'production_budget': '$185,000,000',
  'domestic_gross': '$168,052,812',
  'worldwide_gross': '$561,072,059'},
 {'id': 79,
  'release_date': 'Jul 22, 2016',
  'movie': 'Star Trek Beyond',
  'production_budget': '$185,000,000',
  'domestic_gross': '$158,848,340',
  'worldwide_gross': '$335,802,233'},
 {'id': 80,
  'release_date': 'Oct 6, 2017',
  'movie': 'Blade Runner 2049',
  'production_budget': '$185,000,000',
  'domestic_gross': '$92,054,159',
  'worldwide_gross': '$259,357,408'},
 {'id': 81,
  'release_date': 'May 24, 2019',
  'movie': 'Aladdin',
  'production_budget': '$182,000,000',
  'domestic_gross': '$246,734,314',
  'worldwide_gross': '$619,234,314'},
 {'id': 82,
  'release_date': 'Nov 3, 2017',
  'movie': 'Thor: Ragnarok',
  'production_budget': '$180,000,000',
  'domestic_gross': '$315,058,289',
  'worldwide_gross': '$846,980,024'},
 {'id': 83,
  'release_date': 'Dec 9, 2005',
  'movie': 'The Chronicles of Narnia: The Lion, the Witch and the Wardrobe',
  'production_budget': '$180,000,000',
  'domestic_gross': '$291,710,957',
  'worldwide_gross': '$720,539,572'},
 {'id': 84,
  'release_date': 'May 30, 2014',
  'movie': 'Maleficent',
  'production_budget': '$180,000,000',
  'domestic_gross': '$241,407,328',
  'worldwide_gross': '$758,536,735'},
 {'id': 85,
  'release_date': 'Nov 18, 2016',
  'movie': 'Fantastic Beasts and Where to Find Them',
  'production_budget': '$180,000,000',
  'domestic_gross': '$234,037,575',
  'worldwide_gross': '$802,402,853'},
 {'id': 86,
  'release_date': 'Jun 27, 2008',
  'movie': 'WALL-E',
  'production_budget': '$180,000,000',
  'domestic_gross': '$223,808,164',
  'worldwide_gross': '$532,508,025'},
 {'id': 87,
  'release_date': 'Aug 10, 2007',
  'movie': 'Rush Hour 3',
  'production_budget': '$180,000,000',
  'domestic_gross': '$140,125,968',
  'worldwide_gross': '$256,585,882'},
 {'id': 88,
  'release_date': 'Jul 1, 2016',
  'movie': 'The Legend of Tarzan',
  'production_budget': '$180,000,000',
  'domestic_gross': '$126,643,061',
  'worldwide_gross': '$348,902,025'},
 {'id': 89,
  'release_date': 'Nov 23, 2011',
  'movie': 'Hugo',
  'production_budget': '$180,000,000',
  'domestic_gross': '$73,864,507',
  'worldwide_gross': '$180,047,784'},
 {'id': 90,
  'release_date': 'Jul 21, 2017',
  'movie': 'Valerian and the City of a Thousand Planets',
  'production_budget': '$180,000,000',
  'domestic_gross': '$40,479,370',
  'worldwide_gross': '$215,098,356'},
 {'id': 91,
  'release_date': 'Feb 6, 2015',
  'movie': 'Jupiter Ascending',
  'production_budget': '$179,000,000',
  'domestic_gross': '$47,482,519',
  'worldwide_gross': '$181,982,519'},
 {'id': 92,
  'release_date': 'Jul 27, 2018',
  'movie': 'Mission: Impossibleâ\x80\x94Fallout',
  'production_budget': '$178,000,000',
  'domestic_gross': '$220,159,104',
  'worldwide_gross': '$787,456,552'},
 {'id': 93,
  'release_date': 'May 27, 2016',
  'movie': 'X-Men: Apocalypse',
  'production_budget': '$178,000,000',
  'domestic_gross': '$155,442,489',
  'worldwide_gross': '$542,537,546'},
 {'id': 94,
  'release_date': 'Aug 10, 2018',
  'movie': 'The Meg',
  'production_budget': '$178,000,000',
  'domestic_gross': '$145,443,742',
  'worldwide_gross': '$529,530,715'},
 {'id': 95,
  'release_date': 'Jun 6, 2014',
  'movie': 'Edge of Tomorrow',
  'production_budget': '$178,000,000',
  'domestic_gross': '$100,206,256',
  'worldwide_gross': '$370,541,256'},
 {'id': 96,
  'release_date': 'Mar 8, 2019',
  'movie': 'Captain Marvel',
  'production_budget': '$175,000,000',
  'domestic_gross': '$426,525,952',
  'worldwide_gross': '$1,123,061,550'},
 {'id': 97,
  'release_date': 'Apr 15, 2016',
  'movie': 'The Jungle Book',
  'production_budget': '$175,000,000',
  'domestic_gross': '$364,001,123',
  'worldwide_gross': '$962,854,547'},
 {'id': 98,
  'release_date': 'Jun 19, 2015',
  'movie': 'Inside Out',
  'production_budget': '$175,000,000',
  'domestic_gross': '$356,461,711',
  'worldwide_gross': '$854,235,992'},
 {'id': 99,
  'release_date': 'Jul 7, 2017',
  'movie': 'Spider-Man: Homecoming',
  'production_budget': '$175,000,000',
  'domestic_gross': '$334,201,140',
  'worldwide_gross': '$880,166,350'},
 {'id': 100,
  'release_date': 'Aug 5, 2016',
  'movie': 'Suicide Squad',
  'production_budget': '$175,000,000',
  'domestic_gross': '$325,100,054',
  'worldwide_gross': '$746,059,887'},
 {'id': 1,
  'release_date': 'May 29, 2009',
  'movie': 'Up',
  'production_budget': '$175,000,000',
  'domestic_gross': '$293,004,164',
  'worldwide_gross': '$731,463,377'},
 {'id': 2,
  'release_date': 'Nov 22, 2017',
  'movie': 'Coco',
  'production_budget': '$175,000,000',
  'domestic_gross': '$209,726,015',
  'worldwide_gross': '$798,008,101'},
 {'id': 3,
  'release_date': 'Nov 21, 2018',
  'movie': 'Ralph Breaks The Internet',
  'production_budget': '$175,000,000',
  'domestic_gross': '$201,091,711',
  'worldwide_gross': '$524,283,695'},

In [144]:
movies_budgets_df['movie']=movies_budgets_df['movie'].replace('\x80\x99s', ' ', regex=True)

In [145]:
movies_budgets_df['movie']=movies_budgets_df['movie'].replace('\x80\x99', ' ', regex=True)

In [146]:
movies_budgets_df['movie']=movies_budgets_df['movie'].replace('\x80\x94', ' ', regex=True)

In [147]:
movies_budgets_df['movie']=movies_budgets_df['movie'].replace('Jin lÃ\xadng shÃ\xad san chai', 'Jin ling shi sanchai', regex=True)

In [148]:
movies_budgets_df['movie'].to_dict()

{0: 'Avatar',
 1: 'Pirates of the Caribbean: On Stranger Tides',
 2: 'Dark Phoenix',
 3: 'Avengers: Age of Ultron',
 4: 'Star Wars Ep. VIII: The Last Jedi',
 5: 'Star Wars Ep. VII: The Force Awakens',
 6: 'Avengers: Infinity War',
 7: 'Pirates of the Caribbean: At Worldâ End',
 8: 'Justice League',
 9: 'Spectre',
 10: 'The Dark Knight Rises',
 11: 'Solo: A Star Wars Story',
 12: 'The Lone Ranger',
 13: 'John Carter',
 14: 'Tangled',
 15: 'Spider-Man 3',
 16: 'Captain America: Civil War',
 17: 'Batman v Superman: Dawn of Justice',
 18: 'The Hobbit: An Unexpected Journey',
 19: 'Harry Potter and the Half-Blood Prince',
 20: 'The Hobbit: The Desolation of Smaug',
 21: 'The Hobbit: The Battle of the Five Armies',
 22: 'The Fate of the Furious',
 23: 'Superman Returns',
 24: 'Pirates of the Caribbean: Dead Men Tell No Tales',
 25: 'Quantum of Solace',
 26: 'The Avengers',
 27: 'Pirates of the Caribbean: Dead Manâ Chest',
 28: 'Man of Steel',
 29: 'The Chronicles of Narnia: Prince Caspian',
 30: 'The Amazing Spider-Man',
 31: 'Battleship',
 32: 'Transformers: The Last Knight',
 33: 'Jurassic World',
 34: 'Men in Black 3',
 35: 'Transformers: Revenge of the Fallen',
 36: 'Transformers: Age of Extinction',
 37: 'X-Men: The Last Stand',
 38: 'Robin Hood',
 39: 'King Kong',
 40: 'The Golden Compass',
 41: 'Black Panther',
 42: 'Titanic',
 43: 'Incredibles 2',
 44: 'Rogue One: A Star Wars Story',
 45: 'Finding Dory',
 46: 'Toy Story 3',
 47: 'Iron Man 3',
 48: 'Guardians of the Galaxy Vol 2',
 49: 'Spider-Man 2',
 50: 'Alice in Wonderland',
 51: 'Skyfall',
 52: 'Monsters University',
 53: 'Oz the Great and Powerful',
 54: 'X-Men: Days of Future Past',
 55: 'The Amazing Spider-Man 2',
 56: 'Cars 2',
 57: 'Tron: Legacy',
 58: '2012',
 59: 'Fantastic Beasts: The Crimes of Grindelwald',
 60: 'Terminator Salvation',
 61: 'Green Lantern',
 62: 'Prince of Persia: Sands of Time',
 63: 'Transformers: Dark of the Moon',
 64: 'The Mummy',
 65: 'Jack the Giant Slayer',
 66: 'Furious 7',
 67: 'Star Trek Into Darkness',
 68: 'World War Z',
 69: 'The Great Gatsby',
 70: 'Disneyâ A Christmas Carol',
 71: 'Pacific Rim',
 72: 'The Good Dinosaur',
 73: 'Iron Man',
 74: 'The Dark Knight',
 75: 'Indiana Jones and the Kingdom of the Crystal Skull',
 76: 'Brave',
 77: 'Kong: Skull Island',
 78: 'Star Trek Beyond',
 79: 'Blade Runner 2049',
 80: 'Aladdin',
 81: 'Thor: Ragnarok',
 82: 'The Chronicles of Narnia: The Lion, the Witch and the Wardrobe',
 83: 'Maleficent',
 84: 'Fantastic Beasts and Where to Find Them',
 85: 'WALL-E',
 86: 'Rush Hour 3',
 87: 'The Legend of Tarzan',
 88: 'Hugo',
 89: 'Valerian and the City of a Thousand Planets',
 90: 'Jupiter Ascending',
 91: 'Mission: ImpossibleâFallout',
 92: 'X-Men: Apocalypse',
 93: 'The Meg',
 94: 'Edge of Tomorrow',
 95: 'Captain Marvel',
 96: 'The Jungle Book',
 97: 'Inside Out',
 98: 'Spider-Man: Homecoming',
 99: 'Suicide Squad',
 100: 'Up',
 101: 'Coco',
 102: 'Ralph Breaks The Internet',
 103: 'Monsters vs. Aliens',
 104: 'Cars 3',
 105: 'G.I. Joe: The Rise of Cobra',
 106: 'Wild Wild West',
 107: 'The Mummy: Tomb of the Dragon Emperor',
 108: 'Evan Almighty',
 109: 'Waterworld',
 110: 'King Arthur: Legend of the Sword',
 111: '47 Ronin',
 112: 'Jurassic World: Fallen Kingdom',
 113: 'Guardians of the Galaxy',
 114: 'Iron Man 2',
 115: 'Captain America: The Winter Soldier',
 116: 'Dawn of the Planet of the Apes',
 117: 'The Polar Express',
 118: 'Snow White and the Huntsman',
 119: 'Terminator 3: Rise of the Machines',
 120: 'Van Helsing',
 121: 'Dumbo',
 122: 'Tomorrowland',
 123: 'Alita: Battle Angel',
 124: 'Godzilla: King of the Monsters',
 125: 'Alice Through the Looking Glass',
 126: 'Shrek Forever After',
 127: 'Doctor Strange',
 128: 'Big Hero 6',
 129: 'How to Train Your Dragon',
 130: 'Wreck-It Ralph',
 131: 'Interstellar',
 132: 'Independence Day: Resurgence',
 133: 'Cowboys and Aliens',
 134: 'Beauty and the Beast',
 135: 'Aquaman',
 136: 'Shrek the Third',
 137: 'Inception',
 138: 'The Hunger Games: Mockingjay - Part 2',
 139: 'Fast and Furious 6',
 140: 'Godzilla',
 141: 'X-Men: First Class',
 142: 'The Curious Case of Benjamin Button',
 143: "The Sorcerer's Apprentice",
 144: 'Poseidon',
 145: 'Warcraft',
 146: 'Deepwater Horizon',
 147: 'The Chronicles of Narnia: The Voyage of the Dawn Treader',
 148: 'Terminator: Genisys',
 149: 'Pacific Rim: Uprising',
 150: 'Alexander',
 151: 'War for the Planet of the Apes',
 152: 'Pearl Harbor',
 153: 'Transformers',
 154: 'Wonder Woman',
 155: 'Frozen',
 156: 'Zootopia',
 157: 'Harry Potter and the Order of the Phoenix',
 158: 'Harry Potter and the Goblet of Fire',
 159: 'The Matrix Reloaded',
 160: 'I am Legend',
 161: 'Moana',
 162: 'Hancock',
 163: 'Charlie and the Chocolate Factory',
 164: 'Ratatouille',
 165: 'Thor: The Dark World',
 166: 'Batman Begins',
 167: 'Mission: ImpossibleâRogue Nation',
 168: 'Dunkirk',
 169: 'Thor',
 170: 'Madagascar: Escape 2 Africa',
 171: 'X-Men Origins: Wolverine',
 172: 'Night at the Museum: Battle of the Smithsonian',
 173: 'Kung Fu Panda 2',
 174: 'Mad Max: Fury Road',
 175: 'PokÃ©mon: Detective Pikachu',
 176: 'The Matrix Revolutions',
 177: 'Ready Player One',
 178: 'Chicken Little',
 179: 'Mission: Impossible III',
 180: 'Angels & Demons',
 181: 'Troy',
 182: 'The Last Airbender',
 183: 'Bee Movie',
 184: 'G-Force',
 185: 'Bolt',
 186: 'Wrath of the Titans',
 187: 'Beowulf',
 188: 'Dark Shadows',
 189: 'White House Down',
 190: 'The Wolfman',
 191: 'The Great Wall',
 192: 'Pan',
 193: 'Mars Needs Moms',
 194: 'Moonfall',
 195: 'Flushed Away',
 196: "Madagascar 3: Europe's Most Wanted",
 197: 'Mission: ImpossibleâGhost Protocol',
 198: 'How to Train Your Dragon 2',
 199: 'Tarzan',
 200: 'Mr. Peabody & Sherman',
 201: 'Rise of the Guardians',
 202: 'Sahara',
 203: 'Ghostbusters',
 204: 'Die Another Day',
 205: 'Pirates of the Caribbean: The Curse of the Black Pearl',
 206: 'Star Trek',
 207: 'Armageddon',
 208: 'Men in Black 2',
 209: 'Captain America: The First Avenger',
 210: 'Kung Fu Panda 3',
 211: 'Lethal Weapon 4',
 212: 'G.I. Joe: Retaliation',
 213: 'The Last Samurai',
 214: 'Fun With Dick And Jane',
 215: 'Exodus: Gods and Kings',
 216: 'The BFG',
 217: 'Gods of Egypt',
 218: 'Spider-Man',
 219: 'Watchmen',
 220: 'Stealth',
 221: 'The Incredible Hulk',
 222: 'Hulk',
 223: 'Final Fantasy: The Spirits Within',
 224: 'The Twilight Saga: Breaking Dawn, Part 2',
 225: 'The Croods',
 226: 'The Revenant',
 227: 'The World is Not Enough',
 228: 'Rango',
 229: 'Master and Commander: The Far Side of the World',
 230: 'Turbo',
 231: 'Teenage Mutant Ninja Turtles: Out of the Shadows',
 232: 'Happy Feet Two',
 233: 'Miami Vice',
 234: 'The Nutcracker and the Four Realms',
 235: 'War of the Worlds',
 236: 'Penguins of Madagascar',
 237: 'The Hunger Games: Catching Fire',
 238: 'Harry Potter and the Prisoner of Azkaban',
 239: 'The Bourne Ultimatum',
 240: 'Ant-Man and the Wasp',
 241: 'Kung Fu Panda',
 242: 'Ant-Man',
 243: 'Home',
 244: 'Mary Poppins Returns',
 245: 'Puss in Boots',
 246: 'Megamind',
 247: 'Bad Boys II',
 248: 'Rio 2',
 249: 'Salt',
 250: 'Noah',
 251: 'The Adventures of Tintin',
 252: 'After Earth',
 253: 'Australia',
 254: 'R.I.P.D.',
 255: 'How to Train Your Dragon: The Hidden World',
 256: 'The Twilight Saga: Breaking Dawn, Part 1',
 257: 'Dinosaur',
 258: 'Logan',
 259: 'Night at the Museum: Secret of the Tomb',
 260: 'Harry Potter and the Deathly Hallows: Part II',
 261: 'The Hunger Games: Mockingjay - Part 1',
 262: 'Harry Potter and the Sorcererâ Stone',
 263: 'Harry Potter and the Deathly Hallows: Part I',
 264: 'The Da Vinci Code',
 265: 'X-Men 2',
 266: 'Fast Five',
 267: 'Teenage Mutant Ninja Turtles',
 268: 'Sherlock Holmes: A Game of Shadows',
 269: 'The Day After Tomorrow',
 270: 'The Boss Baby',
 271: 'Clash of the Titans',
 272: 'Trolls',
 273: 'Godzilla',
 274: 'Prometheus',
 275: 'The Bourne Legacy',
 276: 'Batman & Robin',
 277: 'Skyscraper',
 278: 'Total Recall',
 279: 'Assassinâ Creed',
 280: 'Monster Trucks',
 281: 'The 13th Warrior',
 282: 'How the Grinch Stole Christmas',
 283: 'Mission: Impossible 2',
 284: 'The Perfect Storm',
 285: 'Jason Bourne',
 286: 'Fantastic Four: Rise of the Silver Surfer',
 287: 'Life of Pi',
 288: 'Ghost Rider',
 289: 'Rampage',
 290: "Charlie's Angels: Full Throttle",
 291: 'Elysium',
 292: 'Oblivion',
 293: 'Power Rangers',
 294: 'Stuart Little 2',
 295: 'RoboCop',
 296: 'The Chronicles of Riddick',
 297: 'Fantastic Four',
 298: 'Speed Racer',
 299: 'The Island',
 300: 'How Do You Know?',
 301: 'Knight and Day',
 302: 'Venom',
 303: 'Star Wars Ep. I: The Phantom Menace',
 304: 'Star Wars Ep. III: Revenge of the Sith',
 305: 'Star Wars Ep. II: Attack of the Clones',
 306: 'Monsters, Inc.',
 307: 'The Wolverine',
 308: "Dante's Peak",
 309: 'The Huntsman: Winterâ War',
 310: 'Windtalkers',
 311: 'AstÃ©rix aux Jeux Olympiques',
 312: "Gulliver's Travels",
 313: 'Ferdinand',
 314: 'Deadpool 2',
 315: 'Gravity',
 316: 'Night at the Museum',
 317: 'Mr. and Mrs. Smith',
 318: 'San Andreas',
 319: 'The Smurfs',
 320: 'Live Free or Die Hard',
 321: 'The Divergent Series: Insurgent',
 322: "Ocean's Twelve",
 323: 'Tomorrow Never Dies',
 324: 'The Patriot',
 325: '300: Rise of an Empire',
 326: 'The Aviator',
 327: 'Passengers',
 328: 'The Green Hornet',
 329: 'Miss Peregrineâ Home for Peculiar Children',
 330: 'Real Steel',
 331: 'The A-Team',
 332: 'The Smurfs 2',
 333: 'The Divergent Series: Allegiant',
 334: 'The Taking of Pelham 123',
 335: "Ender's Game",
 336: 'Home on the Range',
 337: 'Speed 2: Cruise Control',
 338: 'Kingdom of Heaven',
 339: 'Ghost in the Shell',
 340: 'Around the World in 80 Days',
 341: 'Men in Black: International',
 342: 'The Lord of the Rings: The Fellowship of the Ring',
 343: 'The Cat in the Hat',
 344: 'Ali',
 345: 'The Martian',
 346: 'Allied',
 347: 'I, Robot',
 348: 'Stuart Little',
 349: 'The Princess and the Frog',
 350: '10,000 B.C.',
 351: 'Ice Age: Collision Course',
 352: 'Town & Country',
 353: 'Kingsman: The Golden Circle',
 354: 'Gone in 60 Seconds',
 355: 'Gladiator',
 356: 'The Hangover 3',
 357: 'A Wrinkle in Time',
 358: 'Public Enemies',
 359: 'Casino Royale',
 360: 'Minority Report',
 361: 'Bumblebee',
 362: 'Cloud Atlas',
 363: 'Harry Potter and the Chamber of Secrets',
 364: 'Terminator 2: Judgment Day',
 365: 'Batman Forever',
 366: 'Planet of the Apes',
 367: 'National Treasure',
 368: 'Django Unchained',
 369: 'Little Fockers',
 370: 'True Lies',
 371: 'American Gangster',
 372: 'Cloudy with a Chance of Meatballs',
 373: 'The Other Guys',
 374: "Lemony Snicket's A Series of Unfortunate Events",
 375: 'The Wolf of Wall Street',
 376: 'Epic',
 377: 'Eraser',
 378: 'The Hunchback of Notre Dame',
 379: "The Emperor's New Groove",
 380: 'The Expendables 2',
 381: 'Where the Wild Things Are',
 382: 'Eragon',
 383: 'Hercules',
 384: 'The Tourist',
 385: 'End of Days',
 386: 'The Stepford Wives',
 387: "Surf's Up",
 388: 'Blood Diamond',
 389: "Legend of the Guardians: The Owls of Ga'Hoole",
 390: 'Starship Troopers',
 391: 'Land of the Lost',
 392: 'Peter Pan',
 393: 'Wonder Park',
 394: 'Catwoman',
 395: 'The Expendables 3',
 396: 'Treasure Planet',
 397: 'Green Zone',
 398: 'Geostorm',
 399: 'Point Break',
 400: 'In the Heart of the Sea',
 401: 'Transcendence',
 402: 'Son of the Mask',
 403: 'Mortal Engines',
 404: 'The Adventures of Pluto Nash',
 405: 'Jin ling shi sanchai',
 406: 'The Peanuts Movie',
 407: 'The LEGO Movie 2: The Second Part',
 408: 'Robin Hood',
 409: 'The Mummy Returns',
 410: 'Gangs of New York',
 411: 'Alien: Covenant',
 412: 'Cinderella',
 413: 'Ice Age: Continental Drift',
 414: 'Black Hawk Down',
 415: 'Sex and the City 2',
 416: 'Percy Jackson & the Olympians: The Lightning Thief',
 417: 'The Campaign',
 418: 'Unstoppable',
 419: 'The Fifth Element',
 420: 'The Road to El Dorado',
 421: 'The Lovely Bones',
 422: 'Ben-Hur',
 423: 'Seventh Son',
 424: 'Finding Nemo',
 425: 'The Lord of the Rings: The Return of the King',
 426: 'The Lord of the Rings: The Two Towers',
 427: 'Lara Croft: Tomb Raider',
 428: 'Kingsman: The Secret Service',
 429: 'Jurassic Park III',
 430: 'Rise of the Planet of the Apes',
 431: 'The Spiderwick Chronicles',
 432: 'The Incredibles',
 433: 'A Good Day to Die Hard',
 434: 'The Alamo',
 435: 'Cutthroat Island',
 436: 'The Secret Life of Walter Mitty',
 437: 'Jumanji: Welcome to the Jungle',
 438: 'Men in Black',
 439: 'Toy Story 2',
 440: 'Rush Hour 2',
 441: 'Sherlock Holmes',
 442: 'Ice Age: Dawn of the Dinosaurs',
 443: 'Spider-Man: Into The Spider-Verse 3D',
 444: 'What Lies Beneath',
 445: 'Rio',
 446: 'The Departed',
 447: "Charlie's Angels",
 448: 'Mulan',
 449: 'Tropic Thunder',
 450: 'The Girl with the Dragon Tattoo',
 451: 'Contact',
 452: "You Don't Mess With the Zohan",
 453: 'Die Hard: With a Vengeance',
 454: 'The Magnificent Seven',
 455: 'Alvin and the Chipmunks: The Road Chip',
 456: 'Atlantis: The Lost Empire',
 457: 'Valkyrie',
 458: 'Pixels',
 459: 'Artificial Intelligence: AI',
 460: 'The Haunted Mansion',
 461: 'Hollow Man',
 462: 'The Interpreter',
 463: 'Percy Jackson: Sea of Monsters',
 464: 'Lara Croft: Tomb Raider: The Cradle of Life',
 465: 'Now You See Me 2',
 466: 'Spy Game',
 467: 'The Saint',
 468: 'Mission to Mars',
 469: 'Tomb Raider',
 470: 'Bicentennial Man',
 471: 'King Arthur',
 472: 'Volcano',
 473: "The Devil's Own",
 474: 'K-19: The Widowmaker',
 475: 'Conan the Barbarian',
 476: 'The Three Musketeers',
 477: 'The Promise',
 478: 'The Nutcracker in 3D',
 479: 'Bright',
 480: 'Army of the Dead',
 481: 'Twister',
 482: 'Cinderella Man',
 483: 'The Predator',
 484: 'Fantastic Four',
 485: 'Hannibal',
 486: 'Seabiscuit',
 487: 'Cast Away',
 488: 'Happy Feet',
 489: "Ocean's Eleven",
 490: 'The Bourne Supremacy',
 491: 'Air Force One',
 492: 'Fast & Furious',
 493: 'Horton Hears a Who',
 494: 'Divergent',
 495: 'Hotel Transylvania',
 496: 'Shazam!',
 497: 'Enchanted',
 498: 'Safe House',
 499: 'I Now Pronounce You Chuck and Larry',
 500: "Ocean's Thirteen",
 501: 'Itâ Complicated',
 502: 'Enemy of the State',
 503: 'Open Season',
 504: 'Tower Heist',
 505: '102 Dalmatians',
 506: 'Mirror Mirror',
 507: 'The Holiday',
 508: 'The Fast and the Furious: Tokyo Drift',
 509: 'Memoirs of a Geisha',
 510: 'Enemy at the Gates',
 511: 'Last Action Hero',
 512: 'The Rundown',
 513: 'Arthur Christmas',
 514: 'xXx: Return of Xander Cage',
 515: 'Meet Joe Black',
 516: 'Cats & Dogs: The Revenge of Kitty Galore',
 517: 'Collateral Damage',
 518: 'Showtime',
 519: 'Judge Dredd',
 520: 'Zodiac',
 521: 'Scott Pilgrim vs. The World',
 522: 'The Core',
 523: "Father's Day",
 524: 'The Greatest Showman',
 525: 'Scooby-Doo',
 526: 'Nutty Professor II: The Klumps',
 527: 'RED 2',
 528: 'Click',
 529: "Charlotte's Web",
 530: 'Jumper',
 531: 'Hellboy II: The Golden Army',
 532: 'The Longest Yard',
 533: 'The Expendables',
 534: 'The 6th Day',
 535: 'Call of the Wild',
 536: 'Bruce Almighty',
 537: 'The Hunger Games',
 538: 'The Hangover Part II',
 539: 'Mission: Impossible',
 540: 'The Lego Batman Movie',
 541: 'Hotel Transylvania 2',
 542: 'Batman Returns',
 543: 'The Mummy',
 544: 'Over the Hedge',
 545: 'Lilo & Stitch',
 546: 'Deep Impact',
 547: 'Grown Ups 2',
 548: 'Alvin and the Chipmunks: Chipwrecked',
 549: 'Get Smart',
 550: 'Robots',
 551: 'Shutter Island',
 552: "Something's Gotta Give",
 553: 'Four Christmases',
 554: 'Face/Off',
 555: 'Bedtime Stories',
 556: 'Road to Perdition',
 557: 'Just Go With It',
 558: 'Daredevil',
 559: 'Eagle Eye',
 560: 'Con Air',
 561: 'Yogi Bear',
 562: 'Cold Mountain',
 563: 'The Book of Eli',
 564: 'Flubber',
 565: 'The Haunting',
 566: 'Space Jam',
 567: 'Fury',
 568: 'Smallfoot',
 569: 'The Pink Panther',
 570: 'Zookeeper',
 571: 'The Day the Earth Stood Still',
 572: 'Conspiracy Theory',
 573: 'Six Days, Seven Nights',
 574: 'Spirit: Stallion of the Cimarron',
 575: 'Swordfish',
 576: 'Fantasia 2000 (Theatrical Release)',
 577: 'Lost In Space',
 578: 'The Manchurian Candidate',
 579: 'DÃ©jÃ Vu',
 580: 'The Secret Life of Pets 2',
 581: 'Bewitched',
 582: 'The Time Machine',
 583: 'What Dreams May Come',
 584: 'Mighty Joe Young',
 585: 'The Legend of Zorro',
 586: 'Little Nicky',
 587: 'Surrogates',
 588: 'Evolution',
 589: 'The Brothers Grimm',
 590: 'Mars Attacks!',
 591: 'The Wild',
 592: 'Walking with Dinosaurs',
 593: 'Thirteen Days',
 594: 'Daylight',
 595: 'The Last Witch Hunter',
 596: 'Pompeii',
 597: 'Battlefield Earth: A Saga of the Year 3000',
 598: 'Looney Tunes: Back in Action',
 599: 'Nine',
 600: 'Timeline',
 601: 'Oceans',
 602: 'Babe: Pig in the City',
 603: 'The Postman',
 604: 'Red Planet',
 605: 'Arthur et les Minimoys',
 606: 'The Invasion',
 607: 'A Sound of Thunder',
 608: 'The Lion King',
 609: 'Journey 2: The Mysterious Island',
 610: 'Jack and Jill',
 611: 'A Beautiful Mind',
 612: 'Cloudy with a Chance of Meatballs 2',
 613: 'Red Dragon',
 614: 'Hidalgo',
 615: 'The League of Extraordinary Gentlemen',
 616: 'Exorcist: The Beginning',
 617: 'AstÃ©rix et ObÃ©lix: Au service de Sa MajestÃ©',
 618: 'The Little Prince',
 619: 'Renegades',
 620: 'The Equalizer 2',
 621: 'Despicable Me 2',
 622: '2 Fast 2 Furious',
 623: 'Children of Men',
 624: 'The Adventures of Rocky & Bullwinkle',
 625: 'The Secret Life of Pets',
 626: 'Independence Day',
 627: 'Dr. Seussâ The Grinch',
 628: 'Sing',
 629: 'Despicable Me 3',
 630: 'The Lost World: Jurassic Park',
 631: 'Ice Age: The Meltdown',
 632: 'Madagascar',
 633: 'Grown Ups',
 634: 'Shark Tale',
 635: 'X-Men',
 636: 'Wanted',
 637: 'The Rock',
 638: '50 First Dates',
 639: 'Hairspray',
 640: 'Now You See Me',
 641: 'Dreamgirls',
 642: 'Christopher Robin',
 643: 'Inspector Gadget',
 644: 'Immortals',
 645: 'The Terminal',
 646: 'Constantine',
 647: 'Monster House',
 648: 'Vertical Limit',
 649: "Charlie Wilson's War",
 650: 'Life',
 651: 'Be Cool',
 652: 'Munich',
 653: 'Killers',
 654: 'The Man From U.N.C.L.E.',
 655: 'Tears of the Sun',
 656: 'Lady in the Water',
 657: 'Spanglish',
 658: 'Bandits',
 659: 'Anna and the King',
 660: 'First Knight',
 661: 'Sucker Punch',
 662: 'Hostage',
 663: 'Inferno',
 664: 'Hollywood Homicide',
 665: 'Titan A.E.',
 666: 'Flight of the Phoenix',
 667: 'Soldier',
 668: 'Virus',
 669: 'Monkeybone',
 670: 'PLAYMOBIL',
 671: '355',
 672: 'Minions',
 673: 'The SpongeBob Movie: Sponge Out of Water',
 674: 'Unbreakable',
 675: 'Talladega Nights: The Ballad of Ricky Bobby',
 676: 'The Angry Birds Movie',
 677: 'Snake Eyes',
 678: 'Sphere',
 679: 'The Simpsons Movie',
 680: "Fool's Gold",
 681: 'Funny People',
 682: 'The Kingdom',
 683: 'Dr. Dolittle 2',
 684: 'Braveheart',
 685: 'Jarhead',
 686: 'Driven',
 687: 'The Majestic',
 688: 'Two Brothers',
 689: 'The Village',
 690: 'Doctor Dolittle',
 691: 'Signs',
 692: 'Shrek 2',
 693: 'Cars',
 694: 'Alvin and the Chipmunks: The Squeakquel',
 695: 'Who Framed Roger Rabbit?',
 696: 'Runaway Bride',
 697: 'xXx',
 698: 'Oceanâ 8',
 699: 'Ransom',
 700: 'Inglourious Basterds',
 701: 'Hook',
 702: 'Die Hard 2',
 703: 'S.W.A.T.',
 704: 'Daddyâ Home 2',
 705: 'Sleepy Hollow',
 706: 'Vanilla Sky',
 707: 'Hercules',
 708: 'Olympus Has Fallen',
 709: 'Battle: Los Angeles',
 710: 'AVP: Alien Vs. Predator',
 711: 'War Horse',
 712: 'We Were Soldiers',
 713: 'The Monuments Men',
 714: 'Storks',
 715: 'Star Trek: Insurrection',
 716: 'Big Fish',
 717: 'Wolf',
 718: 'Underworld: Awakening',
 719: 'The Lego Ninjago Movie',
 720: 'Dracula Untold',
 721: 'The Guardian',
 722: 'The Abyss',
 723: 'Wall Street 2: Money Never Sleeps',
 724: 'The Dilemma',
 725: 'Rumor Has It',
 726: 'The Siege',
 727: 'Stardust',
 728: 'Rock of Ages',
 729: 'Seven Years in Tibet',
 730: 'Sky Captain and the World of Tomorrow',
 731: 'The Brave One',
 732: 'I Spy',
 733: 'Bad Company',
 734: 'Doom',
 735: 'The Finest Hours',
 736: 'Escape Plan',
 737: 'Killer Elite',
 738: 'Hard Rain',
 739: "Hart's War",
 740: 'Rollerball',
 741: 'The Legend of Hercules',
 742: 'Next',

In [152]:
movies_budgets_df['production_budget'].dtype

dtype('O')

In [166]:
def convert_to_integer(value):
    cleaned_value= value.replace('$','').replace(',','')
    return(int(cleaned_value))

In [ ]:
movies_budgets_df['production_budget']=movies_budgets_df['production_budget'].apply(convert_to_integer)

In [168]:
movies_budgets_df

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,425000000,"$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000,"$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,350000000,"$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,330600000,"$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000,"$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,7000,$0,$0
5778,79,"Apr 2, 1999",Following,6000,"$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,5000,"$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,1400,$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,1100,"$181,041","$181,041"

In [170]:
movies_budgets_df['production_budget'].dtype

dtype('int64')

In [ ]:
movies_budgets_df['domestic_gross']=movies_budgets_df['domestic_gross'].apply(convert_to_integer)

In [173]:
movies_budgets_df['worldwide_gross']=movies_budgets_df['worldwide_gross'].apply(convert_to_integer)

In [174]:
movies_budgets_df

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,425000000,760507625,2776345279
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875
2,3,"Jun 7, 2019",Dark Phoenix,350000000,42762350,149762350
3,4,"May 1, 2015",Avengers: Age of Ultron,330600000,459005868,1403013963
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,7000,0,0
5778,79,"Apr 2, 1999",Following,6000,48482,240495
5779,80,"Jul 13, 2005",Return to the Land of Wonders,5000,1338,1338
5780,81,"Sep 29, 2015",A Plague So Pleasant,1400,0,0
5781,82,"Aug 5, 2005",My Date With Drew,1100,181041,181041

In [177]:
def format_with_commas(value):
    return '{:,}'.format(value)

In [178]:
movies_budgets_df['production_budget']=movies_budgets_df['production_budget'].apply(format_with_commas)

In [179]:
movies_budgets_df['production_budget']

0       425,000,000
1       410,600,000
2       350,000,000
3       330,600,000
4       317,000,000
           ...
5777          7,000
5778          6,000
5779          5,000
5780          1,400
5781          1,100
Name: production_budget, Length: 5782, dtype: object

In [180]:
movies_budgets_df['domestic_gross']=movies_budgets_df['domestic_gross'].apply(format_with_commas)

In [181]:
movies_budgets_df['worldwide_gross']=movies_budgets_df['worldwide_gross'].apply(format_with_commas)

In [182]:
movies_budgets_df

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"425,000,000","760,507,625","2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"410,600,000","241,063,875","1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"350,000,000","42,762,350","149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"330,600,000","459,005,868","1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"7,000",0,0
5778,79,"Apr 2, 1999",Following,"6,000","48,482","240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"5,000","1,338","1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"1,400",0,0
5781,82,"Aug 5, 2005",My Date With Drew,"1,100","181,041","181,041"

In [187]:
movies_budgets_df=movies_budgets_df.sort_values('id')
movies_budgets_df

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"425,000,000","760,507,625","2,776,345,279"
5200,1,"May 14, 2003",Dracula: Pages from a Virgin's Diary,"1,100,000","39,659","81,371"
2500,1,"Jun 16, 1978",Jaws 2,"20,000,000","102,922,376","208,900,376"
4200,1,"Mar 18, 2011",Winter in Wartime,"5,800,000","542,860","9,662,214"
2400,1,"Jun 24, 1987",Spaceballs,"22,700,000","38,119,483","38,119,483"
...,...,...,...,...,...,...
3899,100,"Jun 12, 2015",Me and Earl and the Dying Girl,"8,000,000","6,758,416","9,266,180"
299,100,"Jul 22, 2005",The Island,"120,000,000","35,818,913","163,018,913"
699,100,"Nov 8, 1996",Ransom,"70,000,000","136,492,681","308,700,000"
799,100,"Dec 8, 2004",Blade: Trinity,"65,000,000","52,397,389","131,353,165"
2999,100,"Dec 9, 1988",Twins,"15,000,000","111,936,388","216,600,000"

In [188]:
movies_budgets_df

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"425,000,000","760,507,625","2,776,345,279"
5200,1,"May 14, 2003",Dracula: Pages from a Virgin's Diary,"1,100,000","39,659","81,371"
2500,1,"Jun 16, 1978",Jaws 2,"20,000,000","102,922,376","208,900,376"
4200,1,"Mar 18, 2011",Winter in Wartime,"5,800,000","542,860","9,662,214"
2400,1,"Jun 24, 1987",Spaceballs,"22,700,000","38,119,483","38,119,483"
...,...,...,...,...,...,...
3899,100,"Jun 12, 2015",Me and Earl and the Dying Girl,"8,000,000","6,758,416","9,266,180"
299,100,"Jul 22, 2005",The Island,"120,000,000","35,818,913","163,018,913"
699,100,"Nov 8, 1996",Ransom,"70,000,000","136,492,681","308,700,000"
799,100,"Dec 8, 2004",Blade: Trinity,"65,000,000","52,397,389","131,353,165"
2999,100,"Dec 9, 1988",Twins,"15,000,000","111,936,388","216,600,000"