# Microsoft Films Analysis

* Author:Sharon Mukami Mungai
* Student pace:Hybrid
* Scheduled project review date/time: Friday,22nd March 2024.
* Instructor Name:Miss.Maryann Mwikali

## Overview

This project analyzes the types of films released as well as their performances in the box office.Their performances are measured by the ratings, gross incomes and popularity.With this analysis Microsoft's new movie studio is able to determine which films to create.

### Business Understanding

Microsoft Company develops and supports software, services, devices, and solutions. Since it has little to no experience in the film industry,an analysis on differrent films is required to answer the following questions:

* What are the top movies?And from which studio?
* What are the top Genres? 
* Which Genres produce the highest gross incomes and highest profit earned?

### Data Understanding

The data files we'll be making use of are that provide information on the movies, the year released,  their votes, their gross incomes, thier production budget.
To uderstand our data, we need to explore the data files and familiarize ourselves with the columns and rows as well as the information within the file.

In [2]:
# import the relevant libraries
import pandas as pd
import numpy as np

In [24]:
#Create dataframes that represent the CSV files.
movies_info_df=pd.read_csv(r"C:\Users\user\Documents\Moringa\Phase-1\Phaseproject\dsc-phase-1-project-v2-4\zippedData\tmdb.movies.csv\tmdb.movies.csv", index_col=0)
movies_gross_df=pd.read_csv(r"C:\Users\user\Documents\Moringa\Phase-1\Phaseproject\dsc-phase-1-project-v2-4\zippedData\bom.movie_gross.csv\bom.movie_gross.csv")
movies_budgets_df=pd.read_csv(r"C:\Users\user\Documents\Moringa\Phase-1\Phaseproject\dsc-phase-1-project-v2-4\zippedData\tn.movie_budgets.csv\tn.movie_budgets.csv")

In [20]:
#Inspect the shapes and attributes of the attributes of the dataframes
#Run code cell(s) below

#### 1. movies_info Data

In [25]:
movies_info_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26517 entries, 0 to 26516
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   genre_ids          26517 non-null  object
 1   id                 26517 non-null  int64
 2   original_language  26517 non-null  object
 3   original_title     26517 non-null  object
 4   popularity         26517 non-null  float64
 5   release_date       26517 non-null  object
 6   title              26517 non-null  object
 7   vote_average       26517 non-null  float64
 8   vote_count         26517 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 2.0+ MB

In [26]:
movies_info.shape

(26517, 10)

In [27]:
movies_info_df

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,11/19/2010,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,3/26/2010,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,5/7/2010,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",862,en,Toy Story,28.005,11/22/1995,Toy Story,7.9,10174
4,"[28, 878, 12]",27205,en,Inception,27.920,7/16/2010,Inception,8.3,22186
...,...,...,...,...,...,...,...,...,...
26512,"[27, 18]",488143,en,Laboratory Conditions,0.600,10/13/2018,Laboratory Conditions,0.0,1
26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,5/1/2018,_EXHIBIT_84xxx_,0.0,1
26514,"[14, 28, 12]",381231,en,The Last One,0.600,10/1/2018,The Last One,0.0,1
26515,"[10751, 12, 28]",366854,en,Trailer Made,0.600,6/22/2018,Trailer Made,0.0,1
26516,"[53, 27]",309885,en,The Church,0.600,10/5/2018,The Church,0.0,1

In [29]:
#assert the returns above
#There should be 26517 rows
assert movies_info_df.shape[0]==26517

#There should be 9 columns
assert movies_info_df.shape[1]==9

#### 2. movies_gross Data

In [15]:
movies_gross_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [30]:
movies_gross_df.shape #The data has 3387 rows, 5 columns

(3387, 5)

In [31]:
movies_gross_df

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

#### 3. movies_budgets Data

In [16]:
movies_budgets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [33]:
movies_budgets_df.shape #This data has 5782 rows, 6 columns

(5782, 6)

In [34]:
movies_budgets_df

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"